body{
    padding-top: 60px;     			
    padding-bottom: 40px;            
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%

}
.form-control { margin-bottom: 10px; }
a {
	color: #669;
	text-decoration: none;
}
label{
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
label[type="item"] {
    display: block;
    top: 5px;
    padding-left: 15px;
    text-indent: -15px;
}
input[type="radio"] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
img{
    display: block;
    margin: auto;
}
a[type = "center"]{
    text-align: center;
}
